@media (max-width: 1800px) {
  .map-hs-btn {
    justify-content: center;
    width: 100%;
  }
  .map-hs-img {
    width: 60%;
    height: 60%;
  }
}
@media (max-width: 1600px) {
  #modalImg {
    min-width: 60%;
    min-height: 50%;
    max-width: 80%;
    max-height: 100%;
  }
}
@media (max-width: 1600px) {
  .map {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }

  .nav-btns {
    margin-bottom: auto;
  }

  .map-hs-img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1500px) {
  .mode-links {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1300px) {
}
@media (max-width: 1200px) {
  #modalImg {
    min-width: 50%;
    min-height: 40%;
    max-width: 80%;
    max-height: 100%;
  }
  .mode-card-img {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .nav-btns {
    justify-content: space-between;
  }
  .multiplayer {
    justify-content: space-between;
  }
  .multiplayer-cards {
    justify-content: space-between;
  }
  .header-contant {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  body {
    height: auto;
    min-height: 100vh;
  }
  .nav-btn {
    margin: 0 15px;
  }
  .multiplayer {
    justify-content: space-evenly;
  }
  .multiplayer-cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
  }
  .multiplayer-cards {
    justify-content: space-around;
  }
}

@media (min-width: 1000px) {
  .nav-navigation {
    display: none;
  }
}
@media (max-width: 1000px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }
  .nav-left {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .nav-btns {
    display: none;
    width: 100%;
  }
  .footer-links {
    width: 100%;
  }

  #imageModal {
    flex-direction: column;
  }
  #modalImg {
    max-width: 100%;
    max-height: 90%;
  }
  .modalBtn {
    width: 100%;
    height: 100px;
  }
}

@media (min-width: 900px) {
}

@media (max-width: 600px) {
  .nav-btns {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .map {
    height: auto;
  }

  .map-cards__hs {
    flex-direction: column;
    align-items: center;
  }

  .map-hs-img-left {
    display: none;
  }

  .map-card_link {
    margin: 20px 0;
  }
}

@media (max-width: 500px) {
  .nav-left {
    width: 100%;
    justify-content: space-around;
  }
  .svg-img {
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .footer-links {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 360px) {
  .settings-btn {
    display: flex;
    margin: 20px;
  }
}